<label for="">
      <a href="/"><i class="fa fa-globe" aria-hidden="true"></i></a>
      <a href="/add_planet"><i class="fa fa-plus add-active" aria-hidden="true"></i></a>
      
</label>

<p class="home">HOME</p>
<p class="add-planet blue-border">ADD <br> PLANET</p>

<a href="/planets"><h1>PLANETS</h1></a>

<form action="/planets" method="post">
    <div>
        <label for=""></label>
        <input class="image-url" name="image_url" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
    <div>
        <label for=""></label>
        <input class="add-name" name="name" type="text" placeholder="NAME" autocomplete="off">
        <input type="hidden" name="id">
    </div>
    <button><i class="fa fa-space-shuttle" aria-hidden="true"></i></button>
</form>