<a href="/planets"><h1>PLANETS</h1></a>
<label for="">
    <a href="/"><i class="fa fa-globe" aria-hidden="true"></i></a>
    <a href="/add_planet"><i class="fa fa-plus" aria-hidden="true"></i></a>
    
</label>

<p class="home">HOME</p>
<p class="add-planet">ADD <br> PLANET</p>

<h3 class="error">Diameter, Mass And The Number Of Moons Must Be Numeric Values.</h3>

<a href="/planet/<%= error["id"] %>/edit_planet"><i class="fa fa-ban" aria-hidden="true"></i></a> 
<p class="cancel blue-border">RETURN</p>


